name: 'My First GitHub Actions Workflow'

on: push

jobs:
  build-job:
    name: 'Build Job'

    runs-on: ubuntu-latest

    steps:
      - name: 'Say Hello'
        shell: bash
        run: |
          echo "Hello World"

  deploy-to-dev-job:
    name: 'Deployment Job to DEV'
    needs:
    - build-job

    runs-on: ubuntu-latest

    steps:
      - name: 'Say DEV'
        shell: bash
        run: |
          echo "DEVELOPERS"

  deploy-to-prod-job:
    name: 'Deployment Job to PROD'
    needs:
    - build-job

    runs-on: ubuntu-latest

    steps:
      - name: 'Say PROD'
        shell: bash
        run: |
          echo "PRODUCTION"
