name: 'My First GitHub Actions Workflow'

on: push

env:
  WORKFLOW_LEVEL: 'This value comes from the workflow level'

jobs:
  first-job:
    name: 'First Job'

    runs-on: ubuntu-latest

    steps:
    - name: 'Set environment variable 1'
      shell: bash
      run: |
        echo $GITHUB_ENV
        echo "STEP_1='This value comes from the step 1'" >> $GITHUB_ENV

    - name: 'Set environment variable 2'
      shell: pwsh
      run: |
        echo "STEP_2='This value comes from the step 2'" `
          | Out-File -FilePath $env:GITHUB_ENV -Encoding utf-8 -Append

    - name: 'Get environment variables'
      shell: bash
      run: |
        echo "WORKFLOW: ${{ env.WORKFLOW_LEVEL }}"
        echo "STEP 1: ${{ env.STEP_1 }}"
        echo "STEP 2: ${{ env.STEP_2 }}"
